<%- include('../partials/userPartials/header2.ejs') -%>

    <div class="ltn__utilize-overlay"></div>

    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <form action="/order" method="post" id="checkout-form">
            <div class="container">
                <div class="row">
                    <!-- add new address button -->
                    <div class="mt-5">
                        <a href="/addAddress" class="btn btn-success"> Add Address</a>
                    </div>
                    <!-- available addresses -->
                    <% address.forEach((item) => { %>
                    <div class="col-lg-3 col-md-6 mt-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <input type="radio" value="<%=item.Fullname%>,<%=item.phone%>,<%=item.House_number_and_street%>,<%=item.City%>,<%=item.State%>,<%=item.Zip%>" name="userAddress">
                            <h5 class="card-title"><%= item.Fullname %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%=item.phone%></h6>
                            <p class="card-text"><%=item.House_number_and_street%>,<%=item.City%> <br> <%=item.State%>,<%=item.Zip%> </p>
                            <!-- <a href="#" class="card-link">Edit</a>
                            <a href="#" class="card-link">Delete</a> -->
                            </div>
                        </div>
                    </div>
                    <% }) %> 
                        
                    <hr>

                    <!-- Payment Option -->
                    <div class="col-lg-6"> 
                        <div class="ltn__checkout-payment-method mt-50">
                            <h2 class="title-2">Payment Method</h2>
                            <div id="checkout_accordion_1">
                                <!-- card -->
                                <% if (userName.wallet >= totalPriceUpdate ) { %>
                                    <div class="card">
                                        <h5 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"><input type="radio" class="payment_method_radio" id="payment_wallet" name="payment_method" value="wallet">
                                            Available Wallet Money.
                                        </h5>
                                        <div id="faq-item-2-2" class="collapse show" data-bs-parent="#checkout_accordion_1">
                                            <div class="card-body">
                                                <p>Wallet : ₹.<%= userName.wallet %></p>
                                            </div>
                                        </div>
                                    </div> 
                                <% } %>

                                <!-- card -->
                                <div class="card">
                                    <h5 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"><input type="radio" class="payment_method_radio" id="payment_cod" name="payment_method" value="COD">
                                        Cash on delivery 
                                    </h5>
                                    <div id="faq-item-2-2" class="collapse show" data-bs-parent="#checkout_accordion_1">
                                        <div class="card-body">
                                            <p>Pay with cash upon delivery.</p>
                                        </div>
                                    </div>
                                </div>                      
                                <!-- card -->
                                <div class="card">
                                    <h5  class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false"><input type="radio" class="payment_method_radio" id="payment_paypal" name="payment_method" value="onlinePayment">
                                        Online Payment <img src="/userAssets/img/icons/payment-3.png" alt="#">
                                    </h5>
                                    <div id="faq-item-2-3" class="collapse" data-bs-parent="#checkout_accordion_1">
                                        <div class="card-body">
                                            <p>Available Payment Methods UPI, Net Banking, Credit/Debit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="ltn__payment-note mt-30 mb-30">
                                <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                            </div>
                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Place order</button>
                        </div>
                    </div>
                    <!-- Total Amount section  -->
                        <div class="col-lg-6">
                            <div class="shoping-cart-total mt-50">
                            <h2>Cart Totals</h2>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Shipping Charge</td>
                                        <td>₹.00.00</td>
                                    </tr>
                                    <tr>
                                        <td>Discount Offer</td>
                                        <td id="discountAmount">₹.49.99</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Order Total</strong></td>
                                        <td><h2 class="block-element" >₹.</h2><h2 class="block-element" id="orderTotal"><%= totalPriceUpdate %></h2></td>
                                    </tr>                                                                          
                                </tbody>
                            </table>
                            </div>
                        </div> 
                    </div>
                </div> 
            </form>

        <!--  -->
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <!--  -->

                    <div class="col-lg-7 col-12 col-md-12">
                        <div class="d-flex align-items-center" style="border: 2px dotted #0000008b; padding: 10px; height: 65px;">
                            <% if (coupons && coupons.length > 0) { %>
                                <% coupons.forEach(coupon => { %>
                                    <span> { <%= coupon.code%> }, </span>
                                <% }) %>
                                <% } else { %>
                                    <span>No Coupon Available!</span>
                                <% } %>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12 col-md-12">
                        <form id="coupon-form">
                            <div class="cart-coupon">
                              <input type="text" id="code" name="cart-coupon" placeholder="Coupon code">
                              <button type="submit" class="btn theme-btn-2 btn-effect-2">Apply Coupon</button>
                            </div>
                        </form>                         
                    </div>

                </div>
            </div>
        </div> 
        <!--  -->
    </div>
    <!-- WISHLIST AREA START -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="/userAssets/img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Buy Air purifying indoor plants <br> to protect your loved ones</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="/">Explore Products <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Script Aria Starting -->
    <style>
        .block-element {
        display: inline-block;
    }
    </style>
    <script>
        $("#checkout-form").submit((e)=>{
            e.preventDefault()
            
            const userAddress = $("input[name=userAddress]:checked").val();
            const payment_method = $("input[name=payment_method]:checked").val();
            const discountAmount = $("#orderTotal").text();
            const amount = $("#orderTotal").text();

            $.ajax({
                url:'/order',
                method:'post',
                data:{
                    userAddress,
                    payment_method,
                    discountAmount,
                    amount,
                },
                success:(response)=>{
                    if(response.codStatus == true){
                        toastr.success('Order Placed', "OLEA Indoor");
                        window.location.href = '/';
                    } else if(response.walletStatus){
                        toastr.success('Order Placed With Wallet.', "OLEA Indoor");
                        window.location.href = '/';
                    }else if(response.stockQty == true){
                         toastr.warning("Out of stock! change the product quantity or Choose another one.");
                        // window.location.href = '/';
                    } else {
                        razorpayPayment(response.order)
                    }
                }
            })
        })

        function razorpayPayment(order){
            var options = {
                "key": "rzp_test_5EUqANa6OCzfJH",   // Enter the Key ID generated from the Dashboard
                "amount": order.amount,            // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Olea indoor plants",       //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id,               //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    verifyPayment(response, order); // Call the verifyPayment function
                },
                "prefill": {                        //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                    "name": "Gaurav Kumar",         //your customer's name
                    "email": "gaurav.kumar@example.com", 
                    "contact": "9000090000"         //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#419B73"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(payment,order){
            $.ajax({
                url:'/verifyPayment',
                method:'post',
                data:{
                    payment,
                    order,
                },
                success:(response) => {
                    if (response.success) {
                        window.location.href = '/';
                    } else {
                        alert('Payment Failed');
                    }
                }
            })
        }


        // Apply coupon
        $("#coupon-form").submit((e) => {
        e.preventDefault();
        const code = $("#code").val();
        const amount = $("#orderTotal").text();
        $.ajax({
            url: "/applyCoupon",
            method: "post",
            data: {
            code: code,
            amount: amount
            },
            success: (response) => {
            console.log(response);
            if (response.user) {
                console.log("This user has already used this coupon");
                toastr.warning("Oops! This user has already used this coupon");
            } else if (response.limit) {
                console.log("Coupon limit exceeded");
                toastr.warning("Oops! Coupon limit exceeded");
            } else if (response.status) {
                console.log("This coupon is not in use");
                toastr.warning("Oops! This coupon is not in use");
            } else if (response.cartAmount) {
                console.log("You can't use the coupon... Buy more");
                toastr.warning("Oops! You can't use the coupon... Buy more");
            } else if (response.date) {
                console.log("Coupon date expired");
                toastr.warning("Oops! Coupon date expired");
            } else if (response.amountOkey) {
                document.getElementById('discountAmount').innerText = response.disAmount;
                document.getElementById('orderTotal').innerText = response.disTotal;
                console.log("Done");
                toastr.success("Coupon Added");
            } else if (response.invalid) {
                console.log("Invalid coupon");
                toastr.warning("Oops! Invalid coupon");
            }
            }
        });
        });

    </script>
    

    <%- include('../partials/userPartials/footer.ejs') -%>


